trigger:
- master
- azure-pipelines

pool:
  name: my-agent
  demands:
    - Agent.Name -equals azure-devops-agent

stages:
- stage: build
  displayName: "Build the code"
  jobs:
  - job: BuildJob                    #anyname to this job
    steps:
    - checkout: self                 #default jobs name and optionals, download the code

    - task: Maven@3
      displayName: 'Maven Clean'
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        goals: 'clean'

    - task: Maven@3
      displayName: 'Maven Install (Skip Tests)'
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        goals: 'install -DskipTests'   # Skip tests during install

- stage: Test
  displayName: "Test the code"
  jobs:
  - job: Testjob
    steps:
    - checkout: self

    - task: Maven@3
      displayName: 'Maven Test'
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        goals: 'test'

- stage: Package
  displayName: "Package the code & generate artifact"
  jobs:
  - job: Packagejob      #this is job name
    steps:
    - task: Maven@3
      displayName: 'Package the code'    #task display name
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        goals: 'package'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact to drop location'
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/webapp/target/webapp.war'  #path to publish artifact
        ArtifactName: 'drop'                                      #artifact name
        publishLocation: 'Container'

- stage: Deploy
  displayName: "Deploy the artifact to azure app service"
  dependsOn: Package     #this stage depends on package stage, so it will run after package stage
  jobs:
  - job: DeployJob
    displayName: 'Deploy Job'
    steps:
    - task: DownloadBuildArtifacts@0
      displayName: 'Download Artifact from drop'
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'drop'
        downloadPath: '$(System.ArtifactsDirectory)'

    - task: AzureWebApp@1
      displayName: 'Deploy to Dev Azure Web App'
      inputs:
        azureSubscription: 'azure-devops-dev'
        appType: 'webApp'
        appName: 'maven-webapp'
        package: '$(System.ArtifactsDirectory)/drop/webapp.war'
