trigger:
- master
- azure-pipelines

pool:
  name: my-agent
  demands:
    - Agent.Name -equals azure-devops-agent

stages:
- stage: Build
  displayName: "Build the code"
  jobs:
  - job: BuildJob
    steps:
    - checkout: self

    - task: Maven@3
      displayName: 'Maven Clean'
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        goals: 'clean'

    - task: Maven@3
      displayName: 'Maven Install (Skip Tests)'
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        goals: 'install -DskipTests'

- stage: Test
  displayName: "Test the code"
  jobs:
  - job: TestJob
    steps:
    - checkout: self

    - task: Maven@3
      displayName: 'Maven Test'
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        goals: 'test'

- stage: Package
  displayName: "Package the code & generate artifact"
  jobs:
  - job: PackageJob
    steps:
    - task: Maven@3
      displayName: 'Package the code'
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        goals: 'package'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/webapp/target/webapp.war'
        ArtifactName: 'drop'
        publishLocation: 'Container'

- stage: Deploy
  displayName: "Deploy to Azure App Service"
  dependsOn: Package
  jobs:
  - job: DeployJob
    steps:
    - checkout: none

    - download: current
      artifact: drop

    - task: AzureWebApp@1
      displayName: 'Deploy WAR to Azure App Service'
      inputs:
        azureSubscription: '<ServiceConnectionName>'   # replace with your service connection name
        appName: 'azurerm'                             # App Service name from your JSON
        package: '$(Pipeline.Workspace)/drop/webapp.war'
