trigger:
- master
- azure-pipelines

pool:
  name: my-agent
  demands:
    - Agent.Name -equals azure-devops-agent

steps:
- checkout: self

- task: Maven@3
  displayName: 'Maven Clean'
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    goals: 'clean'

- task: Maven@3
  displayName: 'Maven Install (Skip Tests)'
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    goals: 'install -DskipTests'   # Skip tests during install

- task: Maven@3
  displayName: 'Maven Test'
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    goals: 'test'

- task: Maven@3
  displayName: 'Build and generate Maven artifacts'
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    goals: 'package'
